.box{
    background-color: blanchedalmond;
    height: 100px;
    width: 100px;
}
*{
    background-color: rgb(242, 189, 121);
}


.button{
    height: 300px;
    width: 350px;
    gap: 5px;
    display:flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
}

main{
    
    justify-content: center;
    align-items: center;
    display: flex;
}

.para{
    height: 170px;
}


.para{
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#winner{
    justify-content: center;
    align-items: center;
    display: flex;
}

#newGame{
    /* margin: none; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* text-align: center; */
}

/* #heading{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
} */


.main{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}